BACKEND_URL=
PORT=
DOMAIN=
PROTOCOL=
DATABASE_URL=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Nếu expireIn là số thì nó sẽ tính theo giây (nhưng lưu ý là value lấy ra từ env luôn là string, nên tốt nhất dùng giây thì ghi là '30s')
# Nếu expireIn là string thì phải quy định thêm các ký tự như 'm', 'h', 'd', 'w'
# string mà không quy định thì nó sẽ tính theo milisecond
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
GUEST_ACCESS_TOKEN_EXPIRES_IN=
GUEST_REFRESH_TOKEN_EXPIRES_IN=
UPLOAD_FOLDER=
INITIAL_EMAIL_OWNER=
INITIAL_PASSWORD_OWNER=

# ZaloPay
ZP_APP_ID=
ZP_KEY1=
ZP_KEY2=
ZP_CREATE_ORDER=
ZP_CHECK_STATUS=
ZP_REDIRECT_URL=
ZP_CALLBACK_URL=

# URL dự án NextJS
CLIENT_URL=